<div class="employee-form">
    <form [formGroup]="form">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" formControlName="name"
                [class.error]="name.touched && name.invalid">
            <div class="errors" *ngIf="name.touched && name.invalid">
                <span *ngIf="name.errors.required" class="err-msg">Name is required</span>
            </div>
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" name="age" id="age" formControlName="age">
        </div>
        <div class="form-group">
            <label for="photoURL">PhotoURL:</label>
            <input type="text" name="photoURL" id="photo-url" formControlName="photoURL">
        </div>
        <div class="form-group">
            <label for="branch">Branch:</label>
            <input type="branch" name="branch" id="branch" formControlName="branch">
        </div>
        <div class="form-group">
            <label for="joined-date">Joined Date:</label>
            <input type="date" name="joined-date" id="joined-date" formControlName="joinedDate">
        </div>
        <div class="form-group">
            <label for="salary">Salary:</label>
            <input type="number" name="salary" id="salary" formControlName="salary">
        </div>
        <div class="form-group">
            <label for="role">Role:</label>
            <select name="role" id="role" formControlName="role">
                <option value="JUNIOR">Junior</option>
                <option value="SENIOR">Senior</option>
                <option value="MANAGER">Manager</option>
            </select>
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <select name="status" id="status" formControlName="status">
                <option value="ACTIVE">Active</option>
                <option value="INACTIVE">Inactive</option>
            </select>
        </div>
        <button class="btn" type="button" (click)="log()">Create</button>
    </form>
</div>